@page "/counter"
@inject HttpClient HttpClient
@inject Microsoft.Extensions.Configuration.IConfiguration configuration
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager Nav

<h1>Counter</h1>

<p>Current count : @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>Un peu de publicité par nos sponsors :</p>
@((MarkupString)myMarkup)

@code {
    private int currentCount = 0;

    private async Task IncrementCount()
    {
        currentCount++;
        var reponse = await HttpClient.GetAsync($"api/Counter?valeur={currentCount}");
    }

    private string myMarkup = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var uri = Nav.ToAbsoluteUri(Nav.Uri);
        var queryStrings = QueryHelpers.ParseQuery(uri.Query);
        if (queryStrings.TryGetValue("pub", out var name))
        {
            if (int.TryParse(name, out var numPub))
            {
                string URLProxyPublicite = configuration["ServeurPublicite"] + "?page=" + numPub;
                Console.Write("Publicite : " + URLProxyPublicite);
                myMarkup = await HttpClient.GetStringAsync(URLProxyPublicite);
            }
        }

        base.OnInitialized();
    }
}
