<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BadSecApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter?pub=1">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        @*A04 Insecure Design*@
        <li class="@PersonnesMenuCssClass">
            <!-- SECU : marquer en invisible côté client n'est pas une sécurité -->
            <NavLink class="nav-link" href="personnes">
                <span class="oi oi-person" aria-hidden="true"></span> Personnes
            </NavLink>
        </li>
        <li class="@ContratsMenuCssClass">
            <!-- SECU : marquer en invisible côté client n'est pas une sécurité -->
            <NavLink class="nav-link" href="contrats">
                <span class="oi oi-credit-card" aria-hidden="true"></span> Contrats
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private bool MenuPersonnesVisible = false;
    private string PersonnesMenuCssClass => MenuPersonnesVisible ? "nav-item px-3" : "nav-item px-3 invisible";

    private bool MenuContratsVisible = false;
    private string ContratsMenuCssClass => MenuContratsVisible ? "nav-item px-3" : "nav-item px-3 invisible";

    private static NavMenu Current;

    protected override void OnInitialized()
    {
        Current = this;
        base.OnInitialized();
    }

    public static void SetMenusVisibility(bool MenuPersonnesVisible, bool MenuContratsVisible)
    {
        Current.MenuPersonnesVisible = MenuPersonnesVisible;
        Current.MenuContratsVisible = MenuContratsVisible;
        Current.StateHasChanged();
    }
}
